
UNET_PATH = 
POS_NET_PATH = 
API_TOKEN =

BOT_ROOT_FOLDER = "bot_data"
USERS_DATA_FOLDER = "user_photos"
GENERATION_OUTPUT_FOLDER = "generated_output"

BASE_MODEL_PATH = "models/SVD/stable-video-diffusion-img2vid-xt-1-1"
CKPT_PATH = "models/MimicMotion.pth"
